body{
  background-image: url("wallpaper.jpg");
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#tot{
   background-color:#FF0040;
   width:100%;
   height:60%;
   border: 2px solid red;
  border-radius: 5px;
}
#nav{
  background-color:#FF0040;
}

#nav1{
  width:214px;
  height:341px;
  margin:10px;
}




#content{
  align: right;
  width:214px;
  height:60%;
  float: left;
}
a:link{
text-decoration:none;}
a:hover {text-decoration: none;}
#nav1 a:hover{
background-color:#3e7598;
}
#nav1 a{
text-decoration:none;
color:#FFFFFF;
font-weight:bold;
font-size:14px;
padding-left:10px;
padding-right:60px;
padding-top:10px;
padding-bottom:10px;

}
#content {
 float: left;
 color: #333;


 margin: 0px 0px 50px 100px;
 padding:10px;
 height: 330px;
 width: 672px;

}
#nav1{
 border:;
  margin: 0px 0px 0px 0px;

 height: 350px;
 width: 100px;
 float: left;
}
#nav a{
text-decoration:none;
color:#FFFFFF;
font-weight:bold;
font-size:14px;
padding-left:10px;
padding-right:60px;
padding-top:10px;
padding-bottom:10px;

}
#nav a:hover{background-color:#3e7598; }
#content a:hover{
background-color:#3e7598;
}
#footer {
 width: 796px;
 height:70px;
 clear: both;
 margin: 0px 0px 10px 0px;
 padding-top:10px;
}
